<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <form action="/home/<%= producto.id %>/editar?_method=put" method="post">
    <label for="">Nombre</label>
    <input type="text" name="nombre" value="<%= producto.nombre %>">
    <br>
    <label for="">Precio</label>
    <input type="number" name="precio" value="<%= producto.precio %>">
    <br>
    <button type="submit">Editar</button>




</form>


</body>
</html>